* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Montserrat;
    font-style: Regular;
}

.container {
    width: 1140px;
    margin: 0px auto;
}

.header {
    background-image: url(./img/menu1.png);
    /* padding-top: 20px; */
    /* filter: blur(8px); */
    background-size: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* backdrop-filter: blur(14px); */
}

.header-item-link {
    color: black;
    background-color: #E0B973;
    padding: 20px;
    display: inline-block;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-title {
    font-size: 22px;
    display: block;
}

.title-sub {
    font-size: 15px;
}

.header-list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    padding-left: 20px;
}

.header-item-link2 {
    color: white;
    font-size: 20px;
}

.header-center {
    padding-top: 100px;
    text-transform: uppercase;
    color: white;
    width: 300px;
}

.header-text4 {
    text-transform: none;
    font-size: 17px;
}

.header-text1 {
    font-size: 30px;
    font-family: Montserrat;
}

.header-text2 {
    font-size: 70px;
}

.header-text3 {
    font-size: 40px;
}

.header-img-link {
    background-color: #E0B973;
    padding: 15px;
    width: 120px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.header-img {
    width: 17px;
    height: 17px;
    padding-right: 10px;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.header-scroll-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.header-scroll-img {
    width: 30px;
    padding-left: 14px;
}

.book2 {
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    /* padding-top: 100px; */
}

.content {
    background-color: white;
    height: 100vh;
    padding-top: 20px;
}

.content-text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.content-list {
    width: 400px;
    border-left: 2px solid #14274A;
    padding-left: 20px;
}

.content-img {
    width: 400px;
}

.content-title {
    font-size: 30px;
    font-weight: 600;
}

.content-content {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-right: 20px;
}

.content-button {
    display: block;
    background-color: #E0B973;
    padding: 10px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
}

.buttom-list {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.buttom-item {
    /* display: inline-block; */
}

.bottom-title {
    font-weight: 600;
    font-size: 30px;
}

.bottom-text {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
}

.bottom-autor {
    font-weight: 500;
    font-size: 20px;
}

.bottom-link {
    display: inline-block;
    background-color: coral;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.footer {
    margin-top: 200px;
    background-color: #14274A;
    text-align: center;
    padding-top: 10px;
    color: white;
    padding-bottom: 20px;
}

.footer-link {
    color: white;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.footer-item {
    display: flex;
    text-align: left;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}