* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Montserrat;
    font-style: Regular;
}

.container {
    width: 1140px;
    margin: 0px auto;
}

.header {
    background-image: url(./img/menu1.png);
    /* padding-top: 20px; */
    /* filter: blur(8px); */
    background-size: 100%;
}

.header-item-link {
    color: black;
    background-color: #E0B973;
    padding: 20px;
    display: inline-block;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-title {
    font-size: 22px;
    display: block;
}

.title-sub {
    font-size: 15px;
}

.header-list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    padding-left: 20px;
}

.header-item-link2 {
    color: white;
    font-size: 20px;
}

.header-center {
    padding-top: 100px;
    text-transform: uppercase;
    color: white;
    width: 300px;
}

.header-text4 {
    text-transform: none;
    font-size: 17px;
}

.header-text1 {
    font-size: 30px;
    font-family: Montserrat;
}

.header-text2 {
    font-size: 70px;
}

.header-text3 {
    font-size: 40px;
}